/* Custom styles */
.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.header {
    background-color: #424345;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.hero-image {
    background-image: url(Logo.PNG);
    background-size: cover;
    margin-top: 10px;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

@media (max-width: 789px) {
    .hero-image {
        display: none;
    }
}

/* Responsive styles */
@media (min-width: 576px) {
    .form-group {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}
